<ion-content padding class="background">
  <div class="opci">
    <ion-item>
      <img
        src="https://images.vexels.com/media/users/3/137244/isolated/preview/c6b689bd0d2f7baaad783f9b6baa5263-cartoon-fire-illustration-by-vexels.png"
        width="30%"
        alt=""
      />
      <ion-label>hotspot 7 วันที่ผ่านมา</ion-label>
      <ion-button color="danger" slot="end" (click)="closeModal()">
        <ion-icon name="close-circle"></ion-icon>&nbsp;ปิด
      </ion-button>
    </ion-item>
  </div>
  <div class="opci">
    <ion-item>
      <ion-label>สถิติ</ion-label>
      <div class="button_map"></div>
    </ion-item>
  </div>
  <div id="container" style="display: block; height: 60%;"></div>
</ion-content>
