ion-content.background {
  --background: url(../../assets/img/bg_1.jpg) 0 0/100% 100% no-repeat;
  font-family: "Bai Jamjuree";
}

div.opci {
  --ion-background-color: rgba(20, 20, 20, 0.7);
  -webkit-text-fill-color: white;
}

div.top {
  padding-top: 2vh;
}
