ion-content.background {
  --background: url(../../assets/img/bg_1.jpg) 0 0/100% 100% no-repeat;
  font-family: "Bai Jamjuree";
}

div.opci {
  --ion-background-color: rgba(36, 36, 36, 0.6);
  -webkit-text-fill-color: rgb(255, 255, 255);
}

div.f1 {
  font-size: 5.2rem;
}

p.i1 {
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 1rem;
}

[Jamjuree] {
  font-family: "Bai Jamjuree";
}
